
<h1>All Author's email</h1>



<% @authors.each do |author| %>
<div class="card mt-3 ">
  <div class="card-body d-flex align-item-between justify-content-between">
    <div class="mr-auto"><b><%= link_to author.email , authors_post_path(author.id) %></b></div>
  </div>
</div>
<% end %>
  