<h1>Users</h1>

<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.email %> - <%= user.role %>
      <%= button_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } ,class:'btn btn-danger'%>
    </li>
  <% end %>
</ul>
